{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body
{
  background:#8fbc8f;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
.container
{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1200px;
  margin:200px; 
  background: #f0fff0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0  35px 55px rgba(0,0,0,0.3);
  
  
  
    
}
.container .left_Side
{
  position: relative;
  background: #2f4f4f;
  padding: 40px;
  
}

.profileText
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2)
    
}

.profileText .imgCp 
{
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.profileText h2
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.2em;
  
}
.profileText h2 span
{
  font-size: 0.55em;
  font-weight: 100;
}

.contactInfo{
  padding-top: 40px;
  
}
.title{
  color: #fff;
    text-transform: uppercase;
  font-weight: 600;
  Letter-spacing: 1px;
  margin-bottom: 20px; 
}

.contactInfo ul
{
  position: relative;
}
.contactInfo ul li
position:relative;
list-style: none;
margin: 10px 0;
cursor: pointer;
}


.contactInfo ul li 
display: inline-block;
width: 30px;
font-size: 18px;
color: #fff;






.container .right_Side
{
  position: relative;
  background: #fff0f5;
  padding: 50px;
   
}

.about
{
  
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top:25px;
 
  
  h5
  {
    
  }
}


.about:last-child
{
  
  margin-bottom:0;
  
}
.title2
{
  color:#2f4f4f;
  text-transform: uppercase;
  Letter-spacing: 1px;
  margin-bottom: 10px;
  
}


p{
  color:#2f4f4f;
}
.about .box
{
  display: flex;
  flex-direction: row;
  margin: 20px 40px 20px 20px;
 
}
.about .box .year_company
{
  min-width: 150px;
}

.about .box .year_company h5
{
  text-transform: uppercase;
   color:#2f4f4f;
  font-weight: 400;
  
}
.about .box .text h4
{
  text-transform: uppercase;
  color:#2f4f4f;
  font-size: 16px;
}

