body{
  background-color: #f0fff0;
  color: #f0fff0;
}


.intro{
  background: linear-gradient(#8fbc8f,#5f9ea0);}


.exp-header {
  
  border-top: 1px solid #f0fff0;
  border-bottom: 1px solid #f0fff0;
  border-left: 1px solid #f0fff0;
  border-right: 1px solid #f0fff0;
  text-align: center;}

h1{text-align: center}
p{text-align:center}

h4{line-height: 0;
}

h5{line-height: 0;
}

h6{line-height: 0;
}

h4{text-indent:10px}
h5{text-indent:30px}
h6{text-indent:30px}


  
